@import '../../mixins/css/general.styles.scss';

.signupContainer {
  display: flex;
  flex-direction: column;
  @extend .pageContainer;
}

.avatar {
  background-color: #7265e6;
  vertical-align: middle;
}

.row-40 {
  @include rowHeight(40%);
}

.row-60 {
  @include rowHeight(60%);
}

#signupButton {
  margin: 1rem 0px;
}
